img {
  display: block;
  margin: auto;
  width: 40%;
}

body {
  background-color: #ffdad6;
}

.image-div {
  width: 100%;
  height: 100%;
}

#headBtn {
  position: absolute;
  left: 39%;
  top: 9%;
}

#neckBtn {
  position: absolute;
  left: 39%;
  top: 17%;
}

#armBtn {
  position: absolute;
  left: 34%;
  top: 35%;
}

#handBtn {
  position: absolute;
  left: 47%;
  top: 49%;
}

#chestBtn {
  position: absolute;
  left: 39%;
  top: 27%;
}

#stomachBtn {
  position: absolute;
  left: 38.5%;
  top: 37%;
}

#legsBtn {
  position: absolute;
  left: 41%;
  top: 62%;
}

#feetBtn {
  position: absolute;
  left: 37.5%;
  top: 88%;
}

#uBackBtn {
  position: absolute;
  left: 57.5%;
  top: 27%;
}

#lBackBtn {
  position: absolute;
  left: 57.5%;
  top: 40%;
}

.btn-circle {
  width: fit-content;
  height: fit-content;
  padding: 7px 10px;
  border-radius: 25px;
  font-size: 10px;
  text-align: center;
}

h2{
  text-align: left !important;
  padding: 8px;
  background-color: white;
}

p{
  background: white;
  padding: 10px;
  font-size: 20px;
}

span.close{
  background-color: white;
}

.modal{
  text-align: center;
}

.modal-content{
  background-color: #ffdad6;;
}

.modal-header .close {
  text-align: center;
  margin: 0px;
}

.modal-header{
  justify-content: start;
}

form{
  text-align: center;
}